
simpler_script_test.R
juristeste.csv
df_main2.csv
df_main3.csv
juris_data.csv
juristeste.csv
simpler_script_test.R
.RData
.Rhistory
.Rproj.user
scraperTRF4_refactor.R
glove_s50.txt
figura 1.svg
figura 2.svg
figura 3.png
figura 3.svg
figura 3.tiff
figura 4.png
figura 4.svg
figura 4.tiff
figura 5.svg
figura 6.svg
